<%= form_with(model: asignatura, local: true) do |form| %>
  <% if asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asignatura.errors.count, "error") %> prohibited this asignatura from being saved:</h2>

      <ul>
        <% asignatura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clave %>
    <%= form.number_field :clave %>
  </div>

  <div class="field">
    <%= form.label :valor_teorico %>
    <%= form.number_field :valor_teorico %>
  </div>

  <div class="field">
    <%= form.label :valor_practico %>
    <%= form.number_field :valor_practico %>
  </div>

  <div class="field">
    <%= form.label :valor_credito %>
    <%= form.number_field :valor_credito %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
