<p id="notice"><%= notice %></p>

<h1>Asignaturas</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Valor teorico</th>
      <th>Valor practico</th>
      <th>Valor credito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignaturas.each do |asignatura| %>
      <tr>
        <td><%= asignatura.clave %></td>
        <td><%= asignatura.valor_teorico %></td>
        <td><%= asignatura.valor_practico %></td>
        <td><%= asignatura.valor_credito %></td>
        <td><%= link_to 'Show', asignatura %></td>
        <td><%= link_to 'Edit', edit_asignatura_path(asignatura) %></td>
        <td><%= link_to 'Destroy', asignatura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignatura', new_asignatura_path %>
