<%= form_with(model: temporada, local: true) do |form| %>
  <% if temporada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temporada.errors.count, "error") %> prohibited this temporada from being saved:</h2>

      <ul>
        <% temporada.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
