<p id="notice"><%= notice %></p>

<h1>Temporadas</h1>

<table class="table table-striped display" role='datatable'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de inicio</th>
      <th>Fecha final</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @temporadas.each do |temporada| %>
      <tr>
        <td><%= temporada.nombre %></td>
        <td><%= temporada.fecha_inicio %></td>
        <td><%= temporada.fecha_final %></td>
        <td>
          <%# if temporada.actual? %>
            <%= link_to 'Finalizar', finalizar_temporada_path(temporada), class: "btn btn-warning" %>
          <%# end %>
        </td>
        <td><%= link_to 'Mostrar', temporada %></td>
        <td><%= link_to 'Editar', edit_temporada_path(temporada) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temporada', new_temporada_path %>
