<p id="notice"><%= notice %></p>

<h1>Edificios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Abreviatura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edificios.each do |edificio| %>
      <tr>
        <td><%= edificio.nombre %></td>
        <td><%= edificio.abreviatura %></td>
        <td><%= link_to 'Show', edificio %></td>
        <td><%= link_to 'Edit', edit_edificio_path(edificio) %></td>
        <td><%= link_to 'Destroy', edificio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edificio', new_edificio_path %>
