<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @edificio.nombre %>
</p>

<p>
  <strong>Abreviatura:</strong>
  <%= @edificio.abreviatura %>
</p>

<%= link_to 'Edit', edit_edificio_path(@edificio) %> |
<%= link_to 'Back', edificios_path %>
