<p id="notice"><%= notice %></p>

<h1>Horarios</h1>

<table class="table table-striped display" role='datatable'>
  <thead>
    <tr>
      <th>Clase</th>
      <th>Tutoria</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horarios.each do |horario| %>
      <tr>
        <td><%= horario.clase_id %></td>
        <td><%= horario.tutory_id %></td>
        <td><%= horario.start.strftime("%H:%M") %></td>
        <td><%= horario.end.strftime("%H:%M") %></td>
        <td><%= link_to 'Show', horario %></td>
        <td><%= link_to 'Edit', edit_horario_path(horario) %></td>
        <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horario', new_horario_path %>
