<%= form_with(model: bloque, local: true) do |form| %>
<% if bloque.errors.any? %>
  <%= render '/shared/errors', obj: @bloque %>
<% end %>


<div class="card-container">

  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Datos generales</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="row col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h6>Creador</h6>
            <%= form.text_field :nombres, placeholder: 20170639, class: "form-control", disabled: true %>
          </div>
        </div>
        <hr/>
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h6>Temporada</h6>
            <!-- <%= form.collection_select(:temporada_id, Temporada.all, :id, :nombre,{},{class:"form-control"}) %> -->
            <%= form.select :temporada_id, Temporada.pluck(:nombre, :id), {:include_blank => ''},{ class: 'select2-simple-dropdown select2-dropdown-width'} %>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h6>Categoría</h6>
            <%= form.select :category_id, Category.pluck(:nombre, :id), {:include_blank => ''},{ class: 'select2-simple-dropdown select2-dropdown-width'} %>
          </div>
        </div>
      </div>
      <hr/>
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <h6>Asignaturas</h6>
          <%= fields_for @bloque_asignatura do |ba| %>
          <%= collection_select(:asignaturas, :id, Asignatura.all, :id, :nombre, {selected: bloque.asignaturas.map(&:id)}, {class: 'select2-multiple-dropdown select2-dropdown-width', multiple: 'true'}) %>
        <% end %>
      </div>
    </div>
    <hr/>
    <div class="col-md-12 col-sm-12">
      <div class="form-group">
        <h6>Estudiantes</h6>
        <%= fields_for @bloque_estudiante do |be| %>
        <%= collection_select(:estudiantes, :id, Estudiante.where.not(admitido: false), :id, :id_campus, {selected: bloque.estudiantes.map(&:id)}, {class: 'select2-multiple-dropdown select2-dropdown-width', multiple: 'true'}) %>
      <% end %>
    </div>
  </div>
</div>

</div>
<div class="float-right">
<%= form.submit 'Finalizar',{class: "btn bg-gradient-success"}%>
</div>
  </div>

<% end %>
