<p id="notice"><%= notice %></p>


<section class="content">
  <div class="container-fluid">
    <h1>Bloques</h1>

    <table class="table table-striped display" role='datatable'>
      <thead>
        <tr>
          <th>Fecha inicio</th>
          <th>Fecha final</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @bloques.each do |bloque| %>
          <tr>
            <td><%= bloque.fecha_inicio %></td>
            <td><%= bloque.fecha_final %></td>
            <td><%= link_to 'Mostrar', bloque, class: "btn btn-info" %></td>
            <td><%= link_to 'Edit', edit_bloque_path(bloque), class: "btn btn-warning" %></td>
            <!-- <td><%= link_to 'Destroy', bloque, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%# link_to 'New Bloque', new_bloque_path %>
  </div>
</section>