<p id="notice"><%= notice %></p>


<section class="content">
  <div class="container-fluid">
    <h1>Bloques</h1>
    <table class="table table-striped display" role='datatable'>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Temporada</th>
          <th>Categoría</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @bloques.each do |bloque| %>
          <tr>
            <td><%= bloque.nombre %></td>
            <td><%= bloque.temporada_nombre %></td>
            <td><%= bloque.category_nombre %></td>
            <td class="align-column-content-center"><%= link_to 'Mostrar', bloque, class: "btn btn-info" %></td>
            <td class="align-column-content-center"><%= link_to 'Edit', edit_bloque_path(bloque), class: "btn btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%# link_to 'New Bloque', new_bloque_path %>
  </div>
</section>