<p id="notice"><%= notice %></p>


<section class="content">
  <div class="container-fluid">
    <h1>Bloques</h1>
    <div style="overflow-x:auto;">
    <table class="table table-striped display" role='datatable'>
      <thead>
        <tr>
          <th>Creador</th>
          <th>Ciclo</th>
          <th>Nivel de lengua</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @bloques.each do |bloque| %>
          <tr>
            <td><%= bloque.creador %></td>
            <td>
             <% if !bloque.ciclo.nil? %>
              <%= link_to "#{bloque.ciclo.codigo}, #{bloque.ciclo.nombre}", edit_ciclo_path(bloque.ciclo) %>
              <%#= bloque.ciclo_nombre %>
             <% end %>
           </td>
           <td>
            <% if !bloque.nivel.nil? %>
              <%= bloque.nivel.nombre %>
            <% end %>
          </td>
            <td class="align-column-content-center"><%= link_to 'Mostrar', edit_bloque_path(bloque), class: "btn btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <br>
    <%# link_to 'New Bloque', new_bloque_path %>
  </div>
</section>
