<p id="notice"><%= notice %></p>

<p>
  <strong>Clase:</strong>
  <%= @clase_actividad.clase_id %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @clase_actividad.actividad_id %>
</p>

<%= link_to 'Edit', edit_clase_actividad_path(@clase_actividad) %> |
<%= link_to 'Back', clase_actividads_path %>
