<p id="notice"><%= notice %></p>

<h1>Clases</h1>

<table>
  <thead>
    <tr>
      <th>Fecha inicio</th>
      <th>Fecha final</th>
      <th>Seccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clases.each do |clase| %>
      <tr>
        <td><%= clase.fecha_inicio %></td>
        <td><%= clase.fecha_final %></td>
        <td><%= clase.seccion %></td>
        <td><%= link_to 'Show', clase %></td>
        <td><%= link_to 'Edit', edit_clase_path(clase) %></td>
        <td><%= link_to 'Destroy', clase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clase', new_clase_path %>
