<section class="content">
  <div class="container-fluid">
    <h1>Clases</h1>

<table class="table table-striped display" role='datatable'>
  <thead>
    <tr>
      <th>#</th>
      <th>No. Clase</th>
      <th>Sección</th>
      <th>Asignatura</th>
      <th>Ubicación</th>
      <th>Estado</th>
      <th>Bloque</th>
      <th></th>
      <% if can? :update, @clase %><th></th><% end %>
    </tr>
  </thead>

      <tbody>
        <% n=0 %>
        <% @clases.each do |clase| %>
        <tr>
          <td><%= n+=1 %></td>
          <td><%= clase.no_clase %></td>
          <td><%= clase.seccion %></td>
          <td>
            <% if !clase.asignatura.nil? %>
              <%= clase.asignatura.clave_nombre %>
            <% end %>
          </td>
          <td>
            <% if !clase.nil? %>
              <%= clase.lugar %>
            <% end %>
          </td>
          <td>
           <% if !clase.bloque.ciclo.nil? %>
             <%= clase.bloque.ciclo.actual ? :Actual : :Pasada %>
           <% end %>
         </td>
           <td>
            <% if !clase.bloque.ciclo.nil? %>
              <% if can? :update, Bloque %>
                <%= link_to "#{clase.bloque.ciclo.nombre}, #{clase.bloque.nivel.nombre}", edit_bloque_path(clase.bloque) %>
              <% else %>
              <%= "#{clase.bloque.ciclo.nombre}, #{clase.bloque.nivel.nombre}" %>
              <% end %>
              <%#= "#{clase.bloque.ciclo.nombre}, #{clase.bloque.nivel.nombre}" %>
            <% end %>
          </td>
          <td class="align-column-content-center"><%= link_to 'Mostrar', clase, class: "btn btn-info" %></td>
          <% if can? :update, @clase %><td class="align-column-content-center"><%= link_to 'Editar', edit_clase_path(clase), class: "btn btn-warning" %> </td> <% end %>
          <!-- <td><%= link_to 'Destroy', clase, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
        <% end %>
  </tbody>
</table>

  </div>
</section>
