<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @clase.fecha_inicio %>
</p>

<p>
  <strong>Fecha final:</strong>
  <%= @clase.fecha_final %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @clase.seccion %>
</p>

<%= link_to 'Edit', edit_clase_path(@clase) %> |
<%= link_to 'Back', clases_path %>
