<%= form_with(model: nivel, local: true) do |form| %>
  <% if nivel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nivel.errors.count, "error") %> prohibited this nivel from being saved:</h2>

      <ul>
        <% nivel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :min %>
    <%= form.text_field :min %>
  </div>

  <div class="field">
    <%= form.label :max %>
    <%= form.text_field :max %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
