<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @nivel.nombre %>
</p>

<p>
  <strong>Rango min:</strong>
  <%= @nivel.min %>
</p>

<p>
  <strong>Rango max:</strong>
  <%= @nivel.max %>
</p>

<%= link_to 'Edit', edit_nivel_path(@nivel) %> |
<%= link_to 'Back', nivels_path %>
