<%= form_with(model: bloque_asignatura, local: true) do |form| %>
  <% if bloque_asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bloque_asignatura.errors.count, "error") %> prohibited this bloque_asignatura from being saved:</h2>

      <ul>
        <% bloque_asignatura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bloque_id %>
    <%= form.number_field :bloque_id %>
  </div>

  <div class="field">
    <%= form.label :asignatura_id %>
    <%= form.number_field :asignatura_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
