<%= form_with(model: actividad, local: true) do |form| %>
<% if actividad.errors.any? %>
  <%= render '/shared/errors', obj: @actividad %>
<% end %>


<div class="card-container">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Datos Generales
      </h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <%= form.check_box :dentro_de_la_ciudad %>
          <%= form.label :dentro_de_la_ciudad, "Será dentro de la ciudad ?" %>
        </div>
      </div>
      <div class="row col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <h5>Fecha</h5>
            <%= form.date_field :fecha, {class: "form-control date-input" } %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-inline select-time-div-margin">
            <div class="list-inline-item">
              <h8 class='select-time-header-margin'>Desde</h8>
              <%= form.time_select :hora_inicio, { }, { class: 'form-control', default: {hour: '16', minute: '00'}} %>
            </div>
            <div class="list-inline-item">
            <h8 class='select-time-header-margin'>Hasta</h8>
            <%= form.time_select :hora_fin, { }, { class: 'form-control', default: {hour: '18', minute: '00'}} %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <h5>Descripción</h5>
        <%= form.text_field :descripcion, { class: 'form-control'} %>
      </div>
      <div class="row col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-6">
          <h5>Ubicación</h5>
          <%= form.text_field :ubicacion, { class: 'form-control'} %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h5>Forma de transporte</h5>
          <%= form.text_field :forma_de_transporte, { class: 'form-control'} %>
        </div>
      </div>

      <hr/>
      <h5>Clases participantes</h5>
      <!-- Clase.joins(:temporada).where(:temporadas => {actual: true}) Para solo clases actuales-->
      <%= collection_select(:clases, :id, Clase.all, :id, :no_clase, {selected: actividad.clases.map(&:id)}, {class: 'select2-multiple-dropdown select2-dropdown-width', multiple: 'true'}) %>

    </div>
  </div>
  <div class="float-right">
    <%= form.submit 'Finalizar', {class: "btn bg-gradient-success"} %>
  </div>
</div>
<% end %>
