<p id="notice"><%= notice %></p>


<section class="content">
  <div class="container-fluid">
    <h1>Actividades</h1>

    <table class="table table-striped display table-responsive" role='datatable'>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora Inicio</th>
          <th>Hora final</th>
          <th>Nombre</th>
          <th>Forma de transporte</th>
          <th>Dentro de la ciudad</th>
          <th>Creador</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @actividads.each do |actividad| %>
          <tr>
            <% if !actividad.fecha.nil? %>
              <td><%= actividad.fecha.strftime("%d/%m/%Y")  %></td>
            <% else %>
              <td> No tiene</td>
            <% end %>
            <% if !actividad.hora_inicio.nil? %>
              <td><%= actividad.hora_inicio.strftime("%I:%M %p")  %></td>
            <% else %>
              <td> No tiene</td>
            <% end %>
            <% if !actividad.hora_fin.nil? %>
              <td><%= actividad.hora_fin.strftime("%I:%M %p")  %></td>
            <% else %>
              <td> No tiene</td>
            <% end %>
            <% if !actividad.nombre_de_la_actividad.nil? %>
              <td><%= actividad.nombre_de_la_actividad  %></td>
            <% else %>
              <td> No tiene</td>
            <% end %>
            <td><%= actividad.forma_de_transporte %></td>
            <td><%= actividad.dentro_de_la_ciudad ? :Si : :No %></td>
            <% if actividad.user_id == current_user.id %>
            <td>Yo</td>
            <% else %>
            <td><%=actividad.user.persona.id_campus_nombres_apellidos%></td>
            <% end %>
            <td class="align-column-content-center"><%= link_to 'Presentar', actividad, class: "btn btn-info" %></td>
            <td class="align-column-content-center"><% if can? :update, actividad %><%= link_to 'Editar', edit_actividad_path(actividad), class: "btn btn-warning" %><% end %></td>
            <td class="align-column-content-center"><% if can? :destroy, actividad %><%= link_to 'Eliminar', actividad, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%# link_to 'New Actividad', new_actividad_path %>
  </div>
</section>
