<%= form_with(model: evaluacion, local: true) do |form| %>
  <% if evaluacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluacion.errors.count, "error") %> prohibited this evaluacion from being saved:</h2>

      <ul>
        <% evaluacion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :promedio %>
    <%= form.text_field :promedio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
