<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Primera columna -->
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">País</h3>
          </div>
          <div class="card-body">
            <%= form_with model: @pai, url: "pais" do |form| %>
            <div class="form-group">
              <%= form.label :nombre, 'Nombre' %>
              <%= form.text_field :nombre, {class:"form-control", placeholder: 'Nombre'} %>
            </div>
            <div class="form-group">
              <%= form.label :nacionalidad, 'Nacionalidad' %>
              <%= form.text_field :nacionalidad, {class:"form-control", placeholder: 'Nacionalidad'} %>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-right">
              <%= form.submit 'Finalizar', {class: "btn bg-gradient-success"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Segunda columna -->
    <div class="col-md-6"></div>
  </div>
</div>
</section>
