<p id="notice"><%= notice %></p>

<section class="content">
  <div class="container-fluid">
    <h1>Egresados</h1>

    <table class="table table-striped display" role='datatable'>
      <thead>
      <tr>
        <th>#</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>ID estudiante</th>
        <th>Matrícula</th>
        <th>Sexo</th>
        <th>Egresado</th>
        <th ></th>
        <th ></th>
      </tr>
      </thead>

      <tbody>
      <% n=0 %>
      <% @estudiantes.where(egresado: true).each do |estudiante| %>
          <tr>
            <td><%= n+=1%></td>
            <td><%= estudiante.persona.nombres %></td>
            <td><%= estudiante.persona.apellidos %></td>
            <td><%= estudiante.persona.id_campus %></td>
            <td><%= estudiante.matricula %></td>
            <td><%= estudiante.sexo %></td>
            <td><%= estudiante.egresado ? :Si : :No %></td>
            <td class="align-column-content-center"><%= link_to 'Mostrar', edit_estudiante_path(estudiante), class: "btn btn-warning" %></td>
            <td class="align-column-content-center"><%= link_to "Generar PDF Egresado", generar_pdf_individual_estudiante_path(estudiante, format: "pdf" ),  class:"btn btn-info", target: :_blank %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

  <br>
  <div>
</section>
