<p id="notice"><%= notice %></p>

<section class="content">
  <div class="container-fluid">
    <h1>Fichas de Admisión</h1>

    <table class="table table-striped display" role='datatable'>
      <thead>
      <tr>
        <th>#</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>ID estudiante</th>
        <th>Matricula</th>
        <th>Sexo</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% n=0 %>
      <% @estudiantes.each do |estudiante| %>
        <% if estudiante.admitido == false %>
          <tr>
            <td><%= n+=1 %></td>
            <td><%= estudiante.persona.nombres %></td>
            <td><%= estudiante.persona.apellidos %></td>
            <td><%= estudiante.persona.id_campus %></td>
            <td><%= estudiante.matricula %></td>
            <td><%= estudiante.sexo %></td>
            <td class="align-column-content-center"><%= link_to 'Mostrar', edit_estudiante_path(estudiante), class: "btn btn-warning" %></td>
            <td class="align-column-content-center"><%= link_to 'Eliminar', estudiante_path(estudiante),method: :destroy, class: "btn btn-danger" %></td>
          </tr>
        <%end %>
      <% end %>
      </tbody>
    </table>

  <br>
  </div>
</section>
