<p id="notice"><%= notice %></p>

<section class="content">
  <div class="container-fluid">
    <h1>Fichas de Admisión</h1>

    <div style="overflow-x:auto;">
    <table class="table table-striped display" role='datatable'>
      <thead>
      <tr>
        <th>#</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>ID estudiante</th>
        <th>Matricula</th>
        <th>Sexo</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% n=0 %>
      <% @estudiantes.where(admitido: false).each do |estudiante| %>
          <tr>
            <td><%= n+=1 %></td>
            <td><%= estudiante.persona.nombres %></td>
            <td><%= estudiante.persona.apellidos %></td>
            <td><%= estudiante.persona.id_campus %></td>
            <td><%= estudiante.matricula %></td>
            <td><%= estudiante.sexo %></td>
            <td class="align-column-content-center"><%= link_to 'Mostrar', edit_estudiante_path(estudiante), class: "btn btn-warning" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>

  <br>
  </div>
</section>
