<%= form_with(model: estudiante, local: true) do |form| %>
<% if estudiante.errors.any? %>
  <%= render '/shared/errors', obj: @estudiante %>
<% end %>

<div class="card-container">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Datos Personales
      </h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>

    <div class="card-body">
      <%= form.fields_for :persona do |prsn| %>

      <div class="row col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h5>Nombres del estudiante:</h5>
            <%= prsn.text_field :nombres, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h5>Apellidos del estudiante:</h5>
            <%= prsn.text_field :apellidos, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h5>Fecha de nacimiento:</h5>
            <%= prsn.date_field :fecha_nacimiento, {class: "form-control date-input"} %>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h5>No. pasaporte</h5>
            <%= form.text_field :pasaporte, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h5>Sexo:</h5>
            <!-- <%= form.select :sexo, ['Femenino', 'Masculino'], {}, {class: "form-control"} %> -->
            <%= form.select :sexo, ['Femenino', 'Masculino'], {:include_blank => ''},{ class: 'select2-simple-dropdown select2-dropdown-width'} %>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h5>Correo electrónico:</h5>
            <%= prsn.text_field :correo_electronico, class: "form-control date-input", placeholder: "hola@ejemplo.com" %>
          </div>
        </div>
      </div>

      <hr/>

      <%= form.fields_for :padre do |padre| %>
      <div class="row col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <h5>Nombres del padre:</h5>
            <%= padre.text_field :nombres, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <h5>Apellidos del padre:</h5>
            <%= padre.text_field :apellidos, class: "form-control" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= form.fields_for :madre do |madre| %>
    <div class="row col-md-12 col-sm-12">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <h5>Nombres de la madre:</h5>
          <%= madre.text_field :nombres, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <h5>Apellidos de la madre:</h5>
          <%= madre.text_field :apellidos, class: "form-control" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<hr/>

<div class="row col-md-12 col-sm-12">
  <div class="col-md-4 col-sm-4">
    <div class="form-group">
      <h5>Estado civil:</h5>
      <!-- <%= form.select :estado_civil, ['Soltero/a', 'Casado/a', 'Viudo/a', 'Comprometido/a', 'En Relación', 'Unión Libre', 'Separado/a', 'Divorciado/a', 'Noviazgo/a'], {}, {class: "form-control"} %> -->
      <%= form.select :estado_civil, ['Soltero/a', 'Casado/a', 'Viudo/a', 'Comprometido/a', 'En Relación', 'Unión Libre', 'Separado/a', 'Divorciado/a', 'Noviazgo/a'], {:include_blank => ''},{ class: 'select2-simple-dropdown select2-dropdown-width'} %>
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="form-group">
      <h5>Nombre Cónyugue:</h5>
      <%= form.text_field :nombre_conyugue, class: "form-control" %>
    </div>
  </div>
</div>

</div>
</div>

<div class="card card-default">
<div class="card-header">
<h3 class="card-title">Datos académicos
</h3>
<div class="card-tools">
  <button type="button" class="btn btn-tool" data-card-widget="collapse">
    <i class="fa fa-minus"></i>
  </button>
</div>
</div>

<div class="card-body">

<div class="row col-md-12 col-sm-12">
  <div class="col-md-4 col-sm-4">
    <div class="form-group">
      <h5>Id del campus</h5>
      <%= form.text_field :id_campus, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="form-group">
      <h5>Programa internacional</h5>
      <!-- <%= form.collection_select(:programa_internacional_id, ProgramaInternacional.all, :id, :nombre, {}, {class: "form-control"}) %> -->
      <%= form.select :programa_internacional_id, ProgramaInternacional.pluck(:nombre, :id), {:include_blank => ''},{ class: 'select2-simple-dropdown select2-dropdown-width'} %>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="form-group">
      <h5>Carrera solicitada</h5>
      <!-- <%= form.collection_select(:carrera_solicitada_id, CarreraSolicitada.all, :id, :nombre, {}, {class: "form-control"}) %> -->
      <%= form.select :carrera_solicitada_id, CarreraSolicitada.pluck(:nombre, :id), {:include_blank => ''},{ class: 'select2-simple-dropdown select2-dropdown-width'} %>
    </div>
  </div>
</div>

<hr/>

<%= form.fields_for :examen_de_nivel do |ex_niv| %>
<div class="col-md-12 col-sm-12">
  <div class="form-group">
    <h5>Examen de nivel</h5>
  </div>
</div>
<div class="row col-md-12 col-sm-12">
  <div class="col-md-6 col-sm-6">
    <div class="form-group">
      <h6>Nota</h6>
      <%= ex_niv.number_field :promedio, {step: 0.1, class: "form-control"} %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="form-group">
      <h6>Nivel</h6>
      <!-- <%= ex_niv.collection_select(:nivel_id, Nivel.all, :id, :nombre, {}, {class: "form-control"}) %> -->
      <%= form.select :nivel_id, Nivel.pluck(:nombre, :id), {:include_blank => ''},{ class: 'select2-simple-dropdown select2-dropdown-width'} %>
    </div>
  </div>
<% end %>
</div>

<hr/>

<%= form.fields_for :informacion_academica do |info_acad| %>
<div class="col-md-12 col-sm-12">
<div class="form-group">
  <h5>Información académica</h5>
</div>
</div>
<div class="row col-md-12 col-sm-12">
<div class="col-md-4 col-sm-4">
  <div class="form-group">
    <h6>Tiempo estudiando español</h6>
    <%= info_acad.number_field :cantidad_de_anos_de_espanol_estudiadas, {step: 0.1, class: "form-control"} %>
  </div>
</div>
<div class="col-md-4 col-sm-4">
  <div class="form-group">
    <h6>Asignaturas de español recientes</h6>
    <%= info_acad.text_field :asignaturas_de_espanol_recientes, class: "form-control" %>
  </div>
</div>
<div class="col-md-4 col-sm-4">
  <div class="form-group">
    <h6>Nivel alcanzado</h6>
    <%= info_acad.text_field :nivel_alcanzado, class: "form-control" %>
  </div>
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="form-group">
  <h6>Asignaturas de español recientes</h6>
  <%= info_acad.text_field :asignaturas_de_espanol_recientes, class: "form-control" %>
</div>
</div>
<% end %>
</div>
</div>

<div class="card card-default">
<div class="card-header">
<h3 class="card-title">Otras informaciones</h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fa fa-minus"></i>
</button>
</div>
</div>

<div class="card-body">
<% n = 0 %>
<%= form.fields_for :direccions do |dirr| %>

<div class="col-md-12 col-sm-12"></div>
<div class="col-md-12 col-sm-12">
<div class="form-group">
  <% if n == 0 %>
    <h5>Dirección:
      <%= n += 1 %>
      (Pais de nacimiento)</h5>
    <%= dirr.hidden_field :pais_nacimiento, value: 1 %>
  <% else %>
    <h5>Dirección:
      <%= n += 1 %></h5>
    <%= dirr.hidden_field :pais_nacimiento, value: 0 %>
  <% end %>
</div>
</div>
<div class="row col-md-12 col-sm-12">
<div class="col-md-4 col-sm-4">
  <div class="form-group">
    <div>
      <h6>País:</h6>
      <!-- <%= dirr.collection_select(:pai_id, Pai.all, :id, :nombre, {}, {class: "form-control"}) %> -->
      <%= form.select :pai_id, Pai.pluck(:nombre, :id), {:include_blank => ''},{ class: 'select2-simple-dropdown select2-dropdown-width'} %>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-4">
  <div class="form-group">
    <h6>Ciudad:</h6>
    <%= dirr.text_field :ciudad, class: "form-control" %>
  </div>
</div>
<div class="col-md-4 col-sm-4">
  <div class="form-group">
    <h6>Código Postal:</h6>
    <%= dirr.text_field :codigo_postal, class: "form-control" %>
  </div>
</div>
</div>
<hr/>

<div class="row col-md-12 col-sm-12">
<div class="col-md-6 col-sm-6">
  <h6>Calle:</h6>
  <%= dirr.text_field :calle, class: "form-control" %>
</div>
<div class="col-md-6 col-sm-6">
  <h6>Teléfono:</h6>
  <%= dirr.text_field :telefono, class: "form-control" %>
</div>
</div>
<hr/>
<% end %>

<div class="row col-md-12 col-sm-12">
<div class="col-md-6 col-sm-6">
<div class="form-group">
  <h6>Tiempo de Residencia (años)</h6>
  <%= form.text_field :tiempo_residencia, class: "form-control" %>
</div>
</div>
<div class="col-md-6 col-sm-6">
<div class="form-group">
  <h6>Numero Residencia (país no nativo)</h6>
  <%= form.text_field :numero_residencia, class: "form-control" %>
</div>
</div>
</div>
<hr/>
<div class="row col-md-12 col-sm-12">
<div class="col-md-6 col-sm-6">
<div class="form-group"></div>
</div>
<div class="col-md-6 col-sm-6">
<div class="form-group float-right">
  <h6>Egresado:
    <%= form.check_box :egresado %></h6>
</div>
</div>
</div>
<!-- <div class="col-md-4 col-sm-4">-->
<!-- <div class="form-group">-->
<!-- <div class="actions">-->

<!-- </div>-->
<!-- </div>-->
<!-- </div>-->
</div>
</div>
<div class="right">
<% if @estudiante.new_record? %>
<%#=  form.submit 'Eliminar', {class: "btn btn-danger"}  %>
<%#= button_to "Cancelar", { :action => "index" }, :method => :get, class: "btn btn-danger "%>
<%= link_to "Cancelar", '/estudiantes', class: "btn btn-danger " %>
<% end %>
<div class="float-right">
<% if @estudiante.admitido? %>
  <%= form.submit 'Finalizar', {class: "btn bg-gradient-success"} %>
<% else %>
  <%= form.submit 'Guardar como borrador', {class: "btn btn-primary"} %>
  <%= form.submit 'Finalizar', {class: "btn bg-gradient-success"} %>
<% end %>
</div>
</div>

<% end %>
</div>
