<%= form_with(model: estudiante, local: true) do |form| %>
  <% if estudiante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudiante.errors.count, "error") %> prohibited this estudiante from being saved:</h2>

      <ul>
        <% estudiante.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :personas do |prsn| %>
    <div class="field">
    <%= prsn.label :nombre %>
    <%= prsn.text_field :nombre %>
    </div>

    <div class="field">
      <%= prsn.label :apellidos %>
      <%= prsn.text_field :apellidos %>
    </div>

    <div class="field">
      <%= prsn.label :fecha_nacimiento %>
      <%= prsn.date_field :fecha_nacimiento %>
    </div>

    <div class="field">
      <%= prsn.label :correo_electronico %>
      <%= prsn.text_field :correo_electronico %>
    </div>

  <% end %>

  <%= form.fields_for :facultads do |fcltd| %>
    <%= fcltd.label :facultad %>
    <%= fcltd.collection_select :facultad_id, Facultad.order(:nombre),:id,:nombre, include_blank: true%>
  <% end %>

  <%= form.fields_for :carrera_solicitadas do |car_sol| %>
    <%= car_sol.label :carrera_solicitada %>
    <%= car_sol.collection_select :carrera_solicitada_id, CarreraSolicitada.order(:nombre),:id,:nombre, include_blank: true%>
  <% end %>

  <div class="field">
    <%= form.label :pasaporte %>
    <%= form.text_field :pasaporte %>
  </div>

  <div class="field">
    <%= form.label :tiempo_residencia %>
    <%= form.text_field :tiempo_residencia %>
  </div>

  <div class="field">
    <%= form.label :numero_residencia %>
    <%= form.text_field :numero_residencia %>
  </div>

  <div class="field">
    <%= form.label :id_campus %>
    <%= form.text_field :id_campus %>
  </div>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula %>
  </div>

  <div class="field">
    <%= form.label :estado_civil %>
    <%= form.text_field :estado_civil %>
  </div>

  <div class="field">
    <%= form.label :nombre_conyugue %>
    <%= form.text_field :nombre_conyugue %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>

  <div class="field">
    <%= form.label :egresado %>
    <%= form.check_box :egresado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
