<%= form_with(model: estudiante, local: true) do |form| %>
  <% if estudiante.errors.any? %>
    <%= render '/shared/errors', obj: @estudiante %>
    </div>
  <% end %>
  
  <%= form.fields_for :persona do |prsn| %>

    <div class="field">
    <%= prsn.label :nombres %>
    <%= prsn.text_field :nombres   %>
    </div>

    <div class="field">
      <%= prsn.label :apellidos %>
      <%= prsn.text_field :apellidos %>
    </div>

    <div class="field">
      <%= prsn.label :fecha_nacimiento %>
      <%= prsn.date_field :fecha_nacimiento %>
    </div>

    <div class="field">
      <%= prsn.label :correo_electronico %>
      <%= prsn.text_field :correo_electronico %>
    </div>

  <% end %>

  <div>
    <%= form.label :facultad %>
    <%= form.collection_select(:facultad_id, Facultad.all, :id, :nombre, include_blank: true) %>
  </div>

  <div>
    <%= form.label :programa_internacional %>
    <%= form.collection_select(:programa_internacional_id, ProgramaInternacional.all, :id, :nombre, include_blank: true) %>
  </div>

  <div>
    <%= form.label :carrera_solicitada %>
    <%= form.collection_select(:carrera_solicitada_id, CarreraSolicitada.all, :id, :nombre, include_blank: true) %>
  </div>

  <%= form.fields_for :padre do |padre| %>
    <div>
      <%= padre.label :padre %>
      <%= padre.text_field :nombres %>
      <%= padre.text_field :apellidos %>
    </div>
  <% end %>

  <%= form.fields_for :madre do |madre| %>
    <div>
      <%= madre.label :madre %>
      <%= madre.text_field :nombres %>
      <%= madre.text_field :apellidos %>
    </div>
  <% end %>

  <%= form.fields_for :direccions do |dirr| %>
    <%= dirr.label :dirreccion %>
    <div>
      <%= dirr.collection_select(:pai_id, Pai.all, :id, :nombre, include_blank: true) %>
      <%#= radio_button_tag "lugar_nacimiento", dirr.index, :lugar_nacimiento, checked: true %>
      <%= dirr.radio_button "lugar_nacimiento", :pais_nacimiento, checked: false, name: 'pais_nacimiento' %>
      <%= dirr.text_field :telefono %>
      <%= dirr.text_field :calle %>
      <%= dirr.text_field :ciudad %>
      <%= dirr.text_field :codigo_postal %>
    </div>
  <% end %>

  <%= form.fields_for :examen_de_nivel do |ex_niv| %>
    <div>
      <%= ex_niv.label :examen_de_nivel %>
      <%= ex_niv.collection_select(:nivel_id, Nivel.all, :id, :nombre, include_blank: true) %>
      <%= ex_niv.number_field :promedio, step: 0.1 %>
    </div>
  <% end %>

  <%= form.fields_for :informacion_academica do |info_acad| %>
    <div>
      <%= info_acad.label :informacion_academicas %>
      <%= info_acad.number_field :cantidad_de_anos_de_espanol_estudiadas, step: 0.1 %>
      <%= info_acad.text_field :asignaturas_de_espanol_recientes %>
      <%= info_acad.number_field :cantidad_de_horas_de_espanol_cursadas, step: 0.1 %>
      <%= info_acad.text_field :nivel_alcanzado %>
    </div>
  <% end %>

  <%= form.fields_for :progreso_inscripcion do |prog_insc| %>
    <%= prog_insc.label :progreso_inscripcion %>
    <%= prog_insc.check_box :formulario_solicitud %>
    <%= prog_insc.check_box :acta_nacimiento %>
    <%= prog_insc.check_box :certificacion_medica %>
    <%= prog_insc.check_box :fotografias %>
    <%= prog_insc.check_box :copia_cedula %>
    <%= prog_insc.check_box :record_secundaria %>
    <%= prog_insc.check_box :certificado_pruebas_nacionales %>
    <%= prog_insc.check_box :recibo_admision %>
    <%= prog_insc.check_box :copia_seguro_salud %>
    <%= prog_insc.check_box :acta_nacimiento_padre %>
    <%= prog_insc.check_box :record_notas_original_de_univ_de_procedencia %>
    <%= prog_insc.check_box :copia_vacunacion %>
  <% end %>

  <div class="field">
    <%= form.label :pasaporte %>
    <%= form.text_field :pasaporte %>
  </div>

  <div class="field">
    <%= form.label :tiempo_residencia %>
    <%= form.text_field :tiempo_residencia %>
  </div>

  <div class="field">
    <%= form.label :numero_residencia %>
    <%= form.text_field :numero_residencia %>
  </div>

  <div class="field">
    <%= form.label :id_campus %>
    <%= form.text_field :id_campus %>
  </div>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula %>
  </div>

  <div class="field">
    <%= form.label :estado_civil %>
    <%= form.text_field :estado_civil %>
  </div>

  <div class="field">
    <%= form.label :nombre_conyugue %>
    <%= form.text_field :nombre_conyugue %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>

  <div class="field">
    <%= form.label :egresado %>
    <%= form.check_box :egresado %>
  </div>

  <div class="field">
    <%= form.label :admitido %>
    <%= form.check_box :admitido %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
