<%= form_with(model: estudiante, local: true) do |form| %>
  <% if estudiante.errors.any? %>
    <%= render '/shared/errors', obj: @estudiante %>
  <% end %>
<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Datos Personales </h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>

    <div class="card-body">
    <%= form.fields_for :persona do |prsn| %>
      <div class="row col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <h5>Nombre Estudiante:</h5>
            <%= prsn.text_field :nombres, class: "form-control"%>
          </div>
        </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <h5>Apellido Estudiante:</h5>
              <%= prsn.text_field :apellidos, class: "form-control" %>
            </div>
          </div>
        </div>
        <hr>
        <div class="row col-md-12 col-sm-12">
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <h5>No. Pasaporte</h5>
              <%= form.text_field :pasaporte, class: "form-control"%>
            </div>
          </div>
        </div>
        <hr>
         <div class="row col-md-12 col-sm-12">
           <div class="col-md-1 col-sm-1">
            <div class="form-group">
              <h5>Sexo:</h5>
              <%= form.select :sexo, ['Femenino', 'Masculino'],{},{ class:"form-control"}%>
            </div>
           </div>
          </div>
        <hr>
        <div class="row col-md-12 col-sm-12">
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <h5>Fecha Nacimiento:</h5>
              <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
              <%= prsn.date_field :fecha_nacimiento, {class: "form-control", style: "text-align:center"}%>
            </div>
          </div>
        </div>
        </div>

          <hr/>
      <div class="row col-md-12 col-sm-12">
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <h5>Correo Electronico:</h5>
              <%= prsn.text_field :correo_electronico,class: "form-control", placeholder:"hola@ejemplo.com" %>
            </div>
          </div>
        <% end %>
      </div>
      <hr/>
      <div class="row col-md-12 col-sm-12">
        <%= form.fields_for :padre do |padre| %>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <h5>Nombre Padre:</h5>
              <%= padre.text_field :nombres,class: "form-control" %>
            </div>
          </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
              <h5>Apellidos Padre:</h5>
              <%= padre.text_field :apellidos,class: "form-control" %>
              </div>
          </div>
        <% end %>
      </div>
      <hr/>
      <div class="row col-md-12 col-sm-12">
        <%= form.fields_for :madre do |madre| %>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <h5>Nombre Madre:</h5>
              <%= madre.text_field :nombres,class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <h5>Apellidos Madre:</h5>
              <%= madre.text_field :apellidos,class: "form-control" %>
            </div>
          </div>
        <% end %>
      </div>
      <hr/>
      <div class="row col-md-12 col-sm-12">
      <div class="col-md-1 col-sm-1">
        <div class="form-group">
          <h5>Estado Civil:</h5>
          <%= form.select :estado_civil, ['Soltero/a', 'Casado/a','Viudo/a','Comprometido/a','En Relación','Unión Libre','Separado/a','Divorciado/a','Noviazgo/a'],{},{ class:"form-control"}%>
        </div>
      </div>
      </div>
      <div class="row col-md-12 col-sm-12">
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <h5>Nombre Conyugue:</h5>
          <%= form.text_field :nombre_conyugue, class: "form-control"%>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Datos Academicos </h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
  </div>

    <div class="card-body">
      <div class="row col-md-12 col-sm-12">
        <div class="row col-md-12 col-sm-12">
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <h5>Programa Internacional</h5>
              <%= form.collection_select(:programa_internacional_id, ProgramaInternacional.all, :id, :nombre,{},{class:"form-control"}) %>
            </div>
          </div>
        </div>
        <div class="row col-md-12 col-sm-12">
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <h5>Carrera Solicitada</h5>
              <%= form.collection_select(:carrera_solicitada_id, CarreraSolicitada.all, :id, :nombre,{},{class:"form-control"}) %>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <%= form.fields_for :examen_de_nivel do |ex_niv| %>
      <div class="row col-md-12 col-sm-12">
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <h5>Examen de Nivel</h5>
              <h6>Nota</h6>
              <%= ex_niv.number_field :promedio, {step: 0.1, class:"number-box"}%>
            </div>
          </div>
        <div class="row col-md-12 col-sm-12">
          <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <h6>Nivel</h6>
            <%= ex_niv.collection_select(:nivel_id, Nivel.all, :id, :nombre, {},{class:"form-control"}) %>
        </div>
      </div>
        </div>
    </div>
      <% end %>
      <hr>

    <%= form.fields_for :informacion_academica do |info_acad| %>
      <div class="row col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <h5>Informacion Academica</h5>
            <h6>Tiempo estudiando español</h6>
            <%= info_acad.number_field :cantidad_de_anos_de_espanol_estudiadas, {step: 0.1, class:"number-box"} %>
          </div>
        </div>
        <div class="row col-md-12 col-sm-12">
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <h6>Asignaturas de español recientes</h6>
              <%= info_acad.text_field :asignaturas_de_espanol_recientes,class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="row col-md-12 col-sm-12">
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <h6>Cantidad de horas de español cursadas</h6>
              <%= info_acad.number_field :cantidad_de_horas_de_espanol_cursadas, {step: 0.1, class: "number-box"} %>
            </div>
          </div>
        </div>
        <div class="row col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <h6>Nivel Alcanzado</h6>
            <%= info_acad.text_field :nivel_alcanzado,class:"form-control" %>
          </div>
        </div>
        </div>
          <% end %>
      </div>
      </div>
    </div>


  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Otras Informaciones</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      <% n=0 %>
      <%= form.fields_for :direccions do |dirr| %>
          <div class="row col-md-12 col-sm-12">
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <h5>Dirección: <%= n+=1 %></h5>
                  <div>
                    <h6> Pais:<%= dirr.collection_select(:pai_id, Pai.all, :id, :nombre,{},{class:"form-control"}) %></h6>
                    <%#= radio_button_tag "lugar_nacimiento", dirr.index, :lugar_nacimiento, checked: true %>
                    <h6>Lugar de nacimiento: <%= dirr.radio_button "lugar_nacimiento", :pais_nacimiento, checked: false, name: 'pais_nacimiento' %></h6>
                    <hr/>
                    <h6>Teléfono: <%= dirr.text_field :telefono,class:"form-control"%></h6>
                  </div>
                </div>
              </div>
        </div>
        <hr/>
          <div class="row col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <h6>Ciudad: <%= dirr.text_field :ciudad,class:"form-control" %></h6>
                  </div>
                </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <h6>Calle: <%= dirr.text_field :calle,class:"form-control" %></h6>
              </div>
            </div>
        </div>
          <div class="row col-md-12 col-sm-12">
              <div class="col-md-1 col-sm-1">
                <h6>Codigo Postal: <%= dirr.text_field :codigo_postal,class:"form-control" %></h6>
              </div>
        </div>
        <hr/>
        <% end %>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <h6>Tiempo de Residencia</h6>
          <%= form.text_field :tiempo_residencia,class:"form-control" %>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <h6>Numero Residencia</h6>
          <%= form.text_field :numero_residencia,class:"form-control" %>
        </div>
      </div>
      <hr/>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <h6>Egresado: <%= form.check_box :egresado %></h6>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <h6>Admitido: <%= form.check_box :admitido %></h6>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <div class="actions">

          </div>
        </div>
      </div>
      </div>
  </div>
  <%= form.submit 'Finalizar', {class: "btn bg-gradient-success"} %>
<% end %>