<p id="notice"><%= notice %></p>

<h1>Estudiantes</h1>

<table>
  <thead>
    <tr>
      <th>Pasaporte</th>
      <th>Tiempo residencia</th>
      <th>Numero residencia</th>
      <th>Id campus</th>
      <th>Matricula</th>
      <th>Estado civil</th>
      <th>Nombre conyugue</th>
      <th>Sexo</th>
      <th>Egresado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.pasaporte %></td>
        <td><%= estudiante.tiempo_residencia %></td>
        <td><%= estudiante.numero_residencia %></td>
        <td><%= estudiante.id_campus %></td>
        <td><%= estudiante.matricula %></td>
        <td><%= estudiante.estado_civil %></td>
        <td><%= estudiante.nombre_conyugue %></td>
        <td><%= estudiante.sexo %></td>
        <td><%= estudiante.egresado %></td>
        <td><%= link_to 'Show', estudiante %></td>
        <td><%= link_to 'Edit', edit_estudiante_path(estudiante) %></td>
        <td><%= link_to 'Destroy', estudiante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estudiante', new_estudiante_path %>
