<p id="notice"><%= notice %></p>

<h1>Estudiantes</h1>

<table class="table table-striped display" role='datatable'>
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Id Campus</th>
      <th>Matricula</th>
      <th>Sexo</th>
      <th>Egresado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% n=0 %>
      <% @estudiantes.each do |estudiante| %>
        <% if estudiante.admitido == true and estudiante.egresado == false %>
          <tr>
            <td><%= n+=1 %></td>
            <td><%= estudiante.persona.nombres %></td>
            <td><%= estudiante.persona.apellidos %></td>
            <td><%= estudiante.id_campus %></td>
            <td><%= estudiante.matricula %></td>
            <td><%= estudiante.sexo %></td>
            <td><%= estudiante.egresado ? :Si : :No %></td>
            <td class="align-column-content-center"><%= link_to 'Mostrar', estudiante, class: "btn btn-info" %></td>
            <td class="align-column-content-center"><%= link_to 'Listar Clases', listar_clases_estudiante_path(estudiante), class: "btn btn-secondary" %></td>
            <td class="align-column-content-center"><%= link_to 'Editar', edit_estudiante_path(estudiante), class: "btn btn-warning" %></td>
          </td>
        </tr>
      <%end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudiante', new_estudiante_path, class: "btn btn-primary" %>
