<h3>Listado de clases de
  <%= @estudiante.persona.id_campus%>
  -
  <%=@estudiante.persona.nombres%>
  <%=@estudiante.persona.apellidos%>
</h3>

<table class="table table-striped display" role='datatable'>
  <thead>
    <tr>
      <th>#</th>
      <th>No. Clase</th>
      <th>Sección</th>
      <th>Asignatura</th>
      <th>Ciclo</th>
      <th>Bloque</th>
      <th>Está activa ?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% n=0 %>
      <% @estudiante.clases.each do |clase| %>
        <tr>
          <td><%= n+=1 %></td>
          <td><%= clase.no_clase %></td>
          <td><%= clase.seccion %></td>
          <td>
            <% if !clase.asignatura.nil? %>
              <%= clase.asignatura_nombre %>
            <% end %>
          </td>
          <td>
            <% if !clase.bloque.ciclo.nil? %>
              <%= clase.bloque.ciclo_nombre %>
            <% end %>
          </td>
          <td>
            <% if !clase.bloque.nil? %>
              <%= link_to "#{clase.bloque.ciclo.nombre}, #{clase.bloque.nivel.nombre}", edit_bloque_path(clase.bloque) %>
              <%#= "#{clase.bloque.ciclo.nombre}, #{clase.bloque.nivel.nombre}" %>
            <% end %>
          </td>
          <td>
              <% if !clase.bloque.ciclo.nil? %>
                <%= clase.bloque.ciclo.actual ? :Si : :No %>
              <% end %>
          </td>
          <td><%= link_to 'Detallar', clase, class: "btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
