<h1>Estudiantes admitidos</h1>
<table class="table table-striped display" role='datatable'>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>ID estudiante</th>
            <th>Sexo</th>
            <th>Egresado</th>
        </tr>
    </thead>
    <tbody>
        <% n=0 %>
        <% @estudiantes.where(admitido: true).each do |estudiante| %>
            <tr>
                <td><%= n+=1 %></td>
                <td><%= estudiante.persona.nombres %></td>
                <td><%= estudiante.persona.apellidos %></td>
                <td><%= estudiante.persona.id_campus %></td>
                <td><%= estudiante.sexo %></td>
                <td><%= estudiante.egresado ? :Si : :No %></td>
            </tr>
            <% end %>
    </tbody>
</table>
