<p id="notice"><%= notice %></p>

<p>
  <strong>Pasaporte:</strong>
  <%= @estudiante.pasaporte %>
</p>

<p>
  <strong>Tiempo residencia:</strong>
  <%= @estudiante.tiempo_residencia %>
</p>

<p>
  <strong>Numero residencia:</strong>
  <%= @estudiante.numero_residencia %>
</p>

<p>
  <strong>Id campus:</strong>
  <%= @estudiante.id_campus %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @estudiante.matricula %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @estudiante.estado_civil %>
</p>

<p>
  <strong>Nombre conyugue:</strong>
  <%= @estudiante.nombre_conyugue %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @estudiante.sexo %>
</p>

<p>
  <strong>Egresado:</strong>
  <%= @estudiante.egresado %>
</p>

<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>
