<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pai.nombre %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @pai.nacionalidad %>
</p>

<p>
  <strong>Lugar nacimiento:</strong>
  <%= @pai.lugar_nacimiento %>
</p>

<%= link_to 'Edit', edit_pai_path(@pai) %> |
<%= link_to 'Back', pais_path %>
