<%= form_with(model: institucion, local: true) do |form| %>
  <% if institucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institucion.errors.count, "error") %> prohibited this institucion from being saved:</h2>

      <ul>
        <% institucion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
