<p id="notice"><%= notice %></p>

<section class="content">
  <div class="container-fluid">
<h1>Tutories</h1>
<table class="table table-striped display" role='datatable'>
  <thead>
    <tr>
      <th>Profesor</th>
      <th>Clase</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutories.each do |tutory| %>
      <tr>
        <td>
          <% if !tutory.user_id.nil? %>
            <%= User.find(tutory.user_id).persona.id_campus_nombres_apellidos %>
          <% end %>
        </td>
        <td>
          <% if !tutory.clase.nil? %>
            <%= tutory.clase_id %>
          <% end %>
        </td>
        <td class="align-column-content-center">
          <% if can? :update, tutory %>
            <%= link_to 'Mostrar', edit_tutory_path(tutory), class: "btn btn-warning"%>
          <% else %>
            <%= link_to 'Mostrar', tutory, class: "btn btn-warning"%>
          <% end %>
        </td>
        <td class="align-column-content-center"><% if can? :destroy, @clase %><%= link_to 'Destroy', tutory, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</section>
