<p id="notice"><%= notice %></p>

<h1>Tutories</h1>

<table>
  <thead>
    <tr>
      <th>Profesor</th>
      <th>Clase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutories.each do |tutory| %>
      <tr>
        <td><%= tutory.profesor_id %></td>
        <td><%= tutory.clase_id %></td>
        <td><%= link_to 'Show', tutory %></td>
        <td><%= link_to 'Edit', edit_tutory_path(tutory) %></td>
        <td><%= link_to 'Destroy', tutory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutory', new_tutory_path %>
