<p id="notice"><%= notice %></p>

<p>
  <strong>Profesor:</strong>
  <%= @tutory.profesor_id %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @tutory.clase_id %>
</p>

<%= link_to 'Edit', edit_tutory_path(@tutory) %> |
<%= link_to 'Back', tutories_path %>
