<p id="notice"><%= notice %></p>

<h1>Bloque Estudiantes</h1>

<table>
  <thead>
    <tr>
      <th>Bloque</th>
      <th>Estudiante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bloque_estudiantes.each do |bloque_estudiante| %>
      <tr>
        <td><%= bloque_estudiante.bloque_id %></td>
        <td><%= bloque_estudiante.estudiante_id %></td>
        <td><%= link_to 'Show', bloque_estudiante %></td>
        <td><%= link_to 'Edit', edit_bloque_estudiante_path(bloque_estudiante) %></td>
        <td><%= link_to 'Destroy', bloque_estudiante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bloque Estudiante', new_bloque_estudiante_path %>
