<%= form_with(model: progreso_inscripcion, local: true) do |form| %>
  <% if progreso_inscripcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(progreso_inscripcion.errors.count, "error") %> prohibited this progreso_inscripcion from being saved:</h2>

      <ul>
        <% progreso_inscripcion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :formulario_admisiones %>
    <%= form.check_box :formulario_admisiones %>
  </div>

  <div class="field">
    <%= form.label :acta_nacimiento %>
    <%= form.check_box :acta_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :certificacion_medica %>
    <%= form.check_box :certificacion_medica %>
  </div>

  <div class="field">
    <%= form.label :fotografias %>
    <%= form.check_box :fotografias %>
  </div>

  <div class="field">
    <%= form.label :copia_pasaporte %>
    <%= form.check_box :copia_pasaporte %>
  </div>

  <div class="field">
    <%= form.label :record_secundaria %>
    <%= form.check_box :record_secundaria %>
  </div>

  <div class="field">
    <%= form.label :certificado_pruebas_nacionales %>
    <%= form.check_box :certificado_pruebas_nacionales %>
  </div>

  <div class="field">
    <%= form.label :recibo_admision %>
    <%= form.check_box :recibo_admision %>
  </div>

  <div class="field">
    <%= form.label :seguro_medico_o_viajero %>
    <%= form.check_box :seguro_medico_o_viajero %>
  </div>

  <div class="field">
    <%= form.label :acta_nacimiento_padres %>
    <%= form.check_box :acta_nacimiento_padres %>
  </div>

  <div class="field">
    <%= form.label :record_notas_original_de_univ_de_procedencia %>
    <%= form.check_box :record_notas_original_de_univ_de_procedencia %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
