<p id="notice"><%= notice %></p>

<h1>Progreso Inscripcions</h1>

<table>
  <thead>
    <tr>
      <th>Formulario solicitud</th>
      <th>Acta nacimiento</th>
      <th>Certificacion medica</th>
      <th>Fotografias</th>
      <th>Copia cedula</th>
      <th>Record secundaria</th>
      <th>Certificado pruebas nacionales</th>
      <th>Recibo admision</th>
      <th>Copia seguro salud</th>
      <th>Acta nacimiento padre</th>
      <th>Record notas original de univ de procedencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @progreso_inscripcions.each do |progreso_inscripcion| %>
      <tr>
        <td><%= progreso_inscripcion.formulario_admisiones %></td>
        <td><%= progreso_inscripcion.acta_nacimiento %></td>
        <td><%= progreso_inscripcion.certificacion_medica %></td>
        <td><%= progreso_inscripcion.fotografias %></td>
        <td><%= progreso_inscripcion.copia_pasaporte %></td>
        <td><%= progreso_inscripcion.record_secundaria %></td>
        <td><%= progreso_inscripcion.certificado_pruebas_nacionales %></td>
        <td><%= progreso_inscripcion.recibo_admision %></td>
        <td><%= progreso_inscripcion.seguro_medico_o_viajero %></td>
        <td><%= progreso_inscripcion.acta_nacimiento_padres %></td>
        <td><%= progreso_inscripcion.record_notas_original_de_univ_de_procedencia %></td>
        <td><%= link_to 'Show', progreso_inscripcion %></td>
        <td><%= link_to 'Edit', edit_progreso_inscripcion_path(progreso_inscripcion) %></td>
        <td><%= link_to 'Destroy', progreso_inscripcion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Progreso Inscripcion', new_progreso_inscripcion_path %>
