<p id="notice"><%= notice %></p>

<p>
  <strong>Formulario solicitud:</strong>
  <%= @progreso_inscripcion.formulario_admisiones %>
</p>

<p>
  <strong>Acta nacimiento:</strong>
  <%= @progreso_inscripcion.acta_nacimiento %>
</p>

<p>
  <strong>Certificacion medica:</strong>
  <%= @progreso_inscripcion.certificacion_medica %>
</p>

<p>
  <strong>Fotografias:</strong>
  <%= @progreso_inscripcion.fotografias %>
</p>

<p>
  <strong>Copia cedula:</strong>
  <%= @progreso_inscripcion.copia_pasaporte %>
</p>

<p>
  <strong>Record secundaria:</strong>
  <%= @progreso_inscripcion.record_secundaria %>
</p>

<p>
  <strong>Certificado pruebas nacionales:</strong>
  <%= @progreso_inscripcion.certificado_pruebas_nacionales %>
</p>

<p>
  <strong>Recibo admision:</strong>
  <%= @progreso_inscripcion.recibo_admision %>
</p>

<p>
  <strong>Copia seguro salud:</strong>
  <%= @progreso_inscripcion.seguro_medico_o_viajero %>
</p>

<p>
  <strong>Acta nacimiento padre:</strong>
  <%= @progreso_inscripcion.acta_nacimiento_padres %>
</p>

<p>
  <strong>Record notas original de univ de procedencia:</strong>
  <%= @progreso_inscripcion.record_notas_original_de_univ_de_procedencia %>
</p>

<p>
  <strong>Copia vacunacion:</strong>
  <%= @progreso_inscripcion.copia_vacunacion %>
</p>

<%= link_to 'Edit', edit_progreso_inscripcion_path(@progreso_inscripcion) %> |
<%= link_to 'Back', progreso_inscripcions_path %>
