<nav class="navbar navbar-expand-lg navbar-light" >
  <%# <a class="navbar-brand" id= "logo" href="#">Blog</a> %>
    <%= link_to "Inicio", root_path, class: "navbar-brand",id: "logo" %> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse", id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ficha de Admisión
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Nueva Ficha de Admisión", new_estudiante_path,class:"dropdown-item",id:"CrearAdmisión" %>
          <%= link_to "Listar Ficha de Admisión", "/no_admitidos", class:"dropdown-item", id:"ListarAdmisión" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estudiante
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Listar Estudiante", estudiantes_path, class:"dropdown-item", id:"ListarEstudiante" %>
          <%# <div class="dropdown-divider"></div> %>
          <%# <a class="dropdown-item" href="">Buscar estudiante</a> %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Egresado
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Listar Egresado", "/egresados",class:"dropdown-item",id:"CrearEstudiante" %>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>