<%# <!DOCTYPE html> %>
<html>
  <head>
    <title>Proyecto Software</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--    Para los dropdowns de select2-->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <script>
        // $(document).ready(function() { $("#sel-1").select2(); });
        // $(document).ready(function() { $("#sel-2").select2(); });
        $(document).ready(function() {
            $('.select2-simple-dropdown').select2();
        });
        $(document).ready(function() {
            $('.select2-multiple-dropdown').select2({multiple: "multiple" });
        });
    </script>
  </head>

  <body class="sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">
    <%= render 'layouts/sidebar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
