<%# <!DOCTYPE html> %>
  <html>
    <head>
      <title>Proyecto Software</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application.js', 'data-turbolinks-track': 'reload' %>
      <!-- Para los dropdowns de select2-->
      <%= stylesheet_link_tag "application.css", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application.js", "data-turbolinks-track" => true %>

    </head>

    <body class="sidebar-mini layout-fixed sidebar-collapse">
      <div class="wrapper">
        <%= render 'layouts/sidebar' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </body>
  </html>
